.git/
.github/
.gitignore
.venv/
venv/
.env
.vscode/
.pytest_cache/
.ruff_cache/
.coverage
__pycache__/

assets/

*.pyc
*.log
*.ipynb


.python-version
.pre-commit-config.yaml

models/
deployment/tests/
deployment/.env
deployment/.env.example
README.md
