GROQ_API_KEY=your_key_here
QDRANT_API_KEY=your_key_here
QDRANT_URL=https://xxxx-xxxx-xxxx.region-0.aws.cloud.qdrant.io


INTENT_LLM_MODEL="groq/llama-3.3-70b-versatile"
GENERATION_LLM_MODEL="groq/openai/gpt-oss-120b"


RETRIEVAL_TOP_K=3
EMBED_MODEL="all-MiniLM-L6-v2"
